.container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 50px 0 100px 0;
    border-radius: 5px;
    font-family: Raleway;
    background: #999999aa;
}
h2 {
    padding: 20px 0;
    font-family: Montserrat;
}
p {
    width: 50%;
    text-align: justify;
    padding: 5px 0;
}