.container {
    font-family: Montserrat;
}
.logout {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.logout > a {
    margin: 5px;
    padding: 10px;
    color: #111;
    font-weight: 600;
    background: #f2c057;
    border-radius: 5px;
}
h2 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
form > * {
    width: 100%;
    font-family: Lato;
    padding: 10px;
    margin: 10px;
}
input, textarea {
    border-radius: 5px;
    border: 1px solid #f2c057;
    color: #111;
}
input[type=submit] {
    background: #f2c057;
    color: #111;
    border-radius: 5px;
    border: 0;
}
.threads {
    padding: 20px;
    width: 33%;
}
.thread {
    padding: 20px 50px;
    margin: 10px 20px;
    border-radius: 5px;
    background: #486824;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thread > div,
.thread > a > div {
    display: flex;
    flex-direction: column;
    color: #ccc;
}
.thread > div > div > span,
.thread > a > div > div > span {
    color: #888;
}
.thread-name {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}
.thread-body {
    padding: 10px 20px;
    border-radius: 5px;
    background: #777;
    color: #fff;
    margin: 10px;
}
form > * {
    width: 69%;
}
.replies {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.reply {
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background: #444;
    border-radius: 5px;
    color: #fff;
}
.reply-author {
    font-size: 12px;
}
.sorts {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sorts > a {
    background: #f2c057;
    color: #111;
    padding: 10px 20px;
    font-weight: 600;
    margin: 5px;
    border-radius: 5px
}
h1 {
    padding: 20px;
}
h3 {
    padding: 10px;
    margin: 5px 0 0 0;
}
h2 {
    padding: 5px;
}
h1.bbg, h2.bbg, h3.bbg {
    background: #999999aa;
    border-radius: 5px
}
hr {
    margin: 50px 0 50px 0;
}